body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1{
    font-size: 40px;
    color: var(--font-color);
    text-align: center;
}

h2{
    color: var(--font-color);
    font-size: 30px;
    text-align: center;
}

h3{
    color: var(--font-color);
    font-size: 30px;
    text-align: center;
    
}

h4{
    color: var(--font-color);
    font-size: 30px;
    text-align: center;
    
}

h5{
    color: var(--font-color);
    font-size: 30px;
    text-align: center; 
}

h6{
    color: var(--font-color);
    font-size: 30px;
    text-align: center;
}


p{
    text-align: center;
    color: var(--font-color);
    text-align: center;
}





:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(206, 115, 59);
    --bg-color: rgb(243, 229, 104);
    --font-color: rgb(0,0,0);
    --heading-color: rgb(79, 79, 250);

}

[data-theme="dark"] {
    --primary-color: rgb(0,0,0);
    --secondary-color: rgb(206, 115, 59);
    --bg-color: rgb(21, 11, 62);
    --font-color: rgb(255,255,255);
    --heading-color: rgb(75, 169, 246);
}

